@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@400;600;700&family=Kaushan+Script&display=swap");

:root {
  --font-family: "Cairo", sans-serif;

  --color-primary: #8d5da7;
  --color-secondary: #fdb515;
  --color-text: #000;
}
